/* #mainNav {
    background: linear-gradient(180deg, #FCD116 33.33%, #0033A0 33.33%, #0033A0 66.66%, #CE1126 66.66%);
    color: white;
} */

#logo {
    animation: movimiento 3s infinite; /* Nombre de la animación, duración, y bucle infinito */
    position: relative; /* Necesario para permitir movimientos */
}
  
@keyframes movimiento {
    0% { transform: translateY(0); } /* Posición inicial */
    50% { transform: translateY(-20px); } /* Se eleva */
    100% { transform: translateY(0); } /* Vuelve a la posición inicial */
}